<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>风弄</string>
	<key>chapterArrArr</key>
	<array>
		<array>
			<dict>
				<key>chapterContent</key>
				<string>
			  风弄大人的经典经典文章~
  其实最开始泪落看的时候,觉得很无聊,所以一直没看完,后来还是继续看了下去,泪落瞬间就后悔了,文章简直经典的要死!直接xing看完,连饭都没吃.风弄大人不愧是在耽美界上站的住脚的人.
  ____
  香港，这被人称做“东方名珠”的城市，正在敞开了怀抱欢迎我………
  我走进荣家的大屋，就看见荣家父子已经站在门内。
  “一路辛苦了吧，生生。”荣家的主人——荣秉走上来。
  “荣世伯。”我礼貌地回亲他一下。香港到底是喜欢传统的地方，我不知道这老人对西式礼节是否在
  意。不过他还是笑着接受了这个见面吻。
  穿着笔挺西装，却永远是一副潇洒不羁模样的荣与亭将手插在口袋里，对我轻轻露出白牙：“我们都
  盼望着你来，生生。”
  “打搅你们了。”不是很喜欢别人直呼我的小名，不过这也许是香港人表示亲热的方法吧。“我只
  是到香港来小住一阵，没想到爸爸会打电话来麻烦荣世伯。”
  “你爸爸和我可是老朋友了，千万不要客气，把这里当成自己的家。”荣世伯一脸笑容。
  和他们寒暄几句，才发现还有一人沉默地呆在一旁。
  “哦，与将，你也来见见生生。”沉默的男子被荣世伯带到我面前：“生生，与亭你是认识的，这
  个你可能没见过。我的长子——与将。”
  “欢迎到香港来。”一只宽厚的手掌伸过来。
  我看看这腼腆的男人，忽然想微笑。
  “你好，要打搅你了。”我故意抓住他的手用力捏捏。
  他已经有所察觉，却只是温和地笑了笑。
  原来这就是荣家的长子。
  头顶着长子的光环，却因为没有二弟的机敏能干，随时可能在荣家继承权上吃亏的荣与将。
  “黄少爷，你的行李我已经放在您的房间里了。”为我搬行李的仆人走过来对我有礼地说。
  “谢谢。”我松开荣与将的手，转头对荣世伯说：“我想先洗个澡，长途飞行很累人。”
  荣世伯说：“好好休息一下，我们等你吃饭。怕你不习惯吃中餐，特地吩咐厨房准备了法国菜。”
  我感激地笑了笑，准备走上楼梯。
  荣与亭赶过来：“我带你到客房，跟我来。”不愧是机灵的二公子，知道抓紧时机和我这个重要董
  事的儿子打好关系。
  随着他一起上楼，在拐角处一回头，看见依然站在客厅的荣与将。
  真巧，荣与将也正抬头看着我，仿佛在目送我上去。见我回头，轻轻点头笑笑。
  我对他礼貌地回应，听着荣与亭的指引进了房间。
  舒服洗了个澡，几乎懒得不想动弹。
  真讨厌爸爸为什么要把一个放松的假期弄成这个样子。托香港的老朋友照看我，名义上是管吃管住提
  供方便，实际上不过是为了看着我不惹事，并且找个机会让我和荣家的新生代建立关系罢了。
  势利的老头，什么时候才能不想到他的那盘生意？
  埋怨归埋怨，知道主人家在等我吃饭，我还是老实地换了一套休闲装下楼。
  “不好意思，洗澡的时间拖长了。”
  偌大的饭厅里已经坐着荣家三位成员，菜也上了几盘。
  “不要紧，你下来的时间刚刚好。”荣与亭笑着说：“象计算准确一样。”
  这个人，总是很容易摆出和人混熟的脸孔。
  我扬扬带着水气的头发，发现荣与亭穿了一身和我很相称的白色休闲服，金丝眼镜后的眼睛不断朝我
  瞟过来。
  相对于他，荣与将就显得内向许多。穿了一套中规中矩的黑色西装，配着一副黑框眼睛。
  现在的人很少戴黑框眼睛，荣与将的装扮使他给人的感觉更为温和。
  我微笑着将视线定在荣与将脸上：“荣大哥的眼镜很特别。”
  “呃？”似乎没想到我会和他说话，他愕然抬头看我：“哦，我习惯戴这副眼睛，很多年了。”
  “比较怀旧。这样的人都很重感情。”我对荣世伯笑笑。
  荣世伯说：“生生，与将比较内向，你不要见怪。”
  “不会啊，一看就知道很好相处。”
  有人在旁边微微咳嗽两声。我转头，看见一脸不自在的荣与亭。
  荣与亭将牛排送到嘴里，嚼干净后问我：“生生，打算去哪里玩？我是全香港最好的导游。”
  “不会妨碍你的工作吗？”
  “主人嘛，当然要尽地主之谊。”
  我不置可否，把懒洋洋的笑当成装饰挂在脸上。
  这位繁忙的二公子肯花时间陪我的原因，除了我爸爸手中的荣氏股份，不外乎因为我还有一位厉害的干爹。			
  
		</string>
				<key>chapterSrcs</key>
				<string></string>
				<key>chapterTitle</key>
				<string>第一章</string>
				<key>href</key>
				<string></string>
			</dict>
			<dict>
				<key>chapterContent</key>
				<string>
			  来的时候，妈对我说荣氏内部竞争已到白热化阶段。看来荣与亭确实在争取一切可以争取的力量来对
  付他的大哥。
  可怜荣与将一脸平和地低头锯着牛排，根本不知道危机来临。
  他是根本没警觉，还是知道斗不过他的二弟，甘心退让？
  让我听从老头子安排到荣家来的原因，恐怕只是为了亲眼瞧一场热闹。这样的冷眼旁观又刺激又有趣。
  瞥一眼荣与亭的盘子，里面的牛排切得小块小块，和我的切法很象。
  他看见我望他的盘子，戏谑地朝我的盘子一瞄，意思似乎是说你看我们两做法多一致。
  此人工余心计，善于收买人心，我对自己说。
  “荣二哥……”
  “生生，叫我与亭吧。”
  “与亭，你这么忙，我看还是请荣大哥陪我到处逛逛吧。”
  荣与将又是愕然抬头，转头向荣世伯说：“爸，我的沙头角土地发展规划还没有……”
  “还是不要麻烦荣大哥了。”知道他不愿意，没等他说完，我立即开口。
  我黄生还没有被人拒绝的习惯。
  一旁的荣与亭微笑起来。
  我猜想他是否常在他大哥不小心开罪人的时候露出这样的表情。
  一顿饭，我左看右看，总算吃得有点意思。
  在房间里睡到半夜，忽然口渴。
  毕竟是新来的客人，我不想摆架子叫仆人送水上来，自己翻身下床，到楼下找厨房。
  豪门的大屋设计其实都差不多，不用一分钟就找到厨房的所在。
  轻松地走过去，发现灯亮着。
  难道荣与亭心计至此，知道我会口渴，专门在这里等候？
  自己的名声，自己当然清楚。凭我那张算上等的脸和值得炫耀的家世，已经和很多重要人物来往频繁。
  男人和男人，不过逢场作戏。
  常常一场舞会，结束的时候就跳到床上。
  但出生商家，每次的少不了带了点交易色彩。我家老头对我的名声在外从没有真正发过脾气也是
  为了这个——我为他轻易打通了多少关隘。
  今天一见到荣与亭，就知道他有兴趣把我弄上手。不但可以炫耀，还可以利用我手中种种关系。
  哼，想错他的心！
  冷笑两声，走进厨房。我愣了一愣。
  正闷闷坐在小桌旁的，居然是荣与将。
  西装变了睡袍，黑框眼睛已经不知去向。手里拿着一罐啤酒，正在慢慢一口一口地喝。
  我不做声在背后看他，发现此人沉默着喝酒的样子居然xing感非常——我喜欢宽厚的背。
  其实荣与将的样子一点也不输荣与亭，只是总被什么掩盖住光华。
  “半夜偷酒喝，不怕荣世伯逮住？”
  他吓了一跳，站起来转身，看见我，讪讪一笑：“原来是你。”
  我观察到他眉间极力掩藏的忧愁。
  不错，在与弟弟的权利斗争中全无回手之力，怎么会不愁。
  “我有点渴，所以大胆做一次小偷，到厨房偷点水喝。”
  “对不起，我们疏忽，忘记告诉你房间的冰箱藏在床头柜下面，唉，那是我以前自己设计的，结果客
  人总是找不到冰箱。”他很内疚地道歉。
  我忽然之间觉得这人实在有趣。
  手指一挑，把他手中的啤酒抢去。
  直直盯着他的眼睛，就着他喝过的地方把唇凑上去。
  他睁大眼睛，有点不知所措，这让我高兴地轻笑起来。
  故意朝他使一个妩媚的眼神，我说：“真的不肯当我导游，陪我出去玩玩？”
  多少财经界人物，败在我这眼神下，荣与将如何能挡。
  “我……”他连呼吸都困难起来：“我明天有………”
  “谁说了是明天？荣家的大门晚上不能打开？”我干脆凑上去挽着他的手。
  这男人似乎没经受过男人的，反应生涩得很。
  “穿着这个？”
  “难道香港法律规定不许穿睡袍上街？”
  我拖着他，就这样直出大门，逼他把跑车驶出来。
  随便在地图上指了个地方，要荣与将把车开到那里去玩。
  车保养得很好，平稳而快速。
  我把车窗打开，让风呼呼灌进来。
  荣与将一边驾驶，一边无可奈何地看着我：“空调全部跑掉了。”
  我转头，朝他嫣然一笑。
  他立即脸红耳赤地把目光转回前方。
  不知道为什么，忽然起了勾引人的心思。
  这个老实的家伙，还没有尝过男人的滋味吧？
  索xing打开睡袍的前襟，让风直接打在胸膛上。
  激烈的刹车声立即响起，我们几乎撞在路旁的树上。
  “你……你…….”呼吸困难的司机看着我。
  “我什么？难道香港法律在车上不可以露胸？”我挑眉反问。
  他望我许久，冷静下来，又是原先平和温柔的样子：“穿回去吧，你会冷的。”
  最讨厌人家忽视我的魅力。
  我忽然一把拽住他的领口，整个人挨上去。
  “与将，你和男人试过没有？”边说边往他耳里吐气。
  真好玩，二弟想勾引我，我倒去勾引大哥。
  他想凶又凶不起来，皱着眉头：“我不是同xing恋。”			
  
		</string>
				<key>chapterSrcs</key>
				<string></string>
				<key>chapterTitle</key>
				<string>第二章</string>
				<key>href</key>
				<string></string>
			</dict>
			<dict>
				<key>chapterContent</key>
				<string>
			  “哈，你以为我是？不过玩一下，世界新潮流，上流社会谁不掺一脚？”
  本来最讨厌老古板，如果遇到肯定会整得他七荤八素。偏偏这老实人的模样实在逗人，情不自禁想惹
  一惹他。
  “吻我。”我吩咐他。
  “为什么？”
  “那你为什么这么晚肯出来陪我？还穿着睡袍？”
  “不要不讲道理。”他望着我送上门的唇，浓黑的眉纠成一团。
  不知道他是为了我的举动头疼，还是在理xing和狂放中挣扎。
  我笃定地看着他。
  的事情，往往是平日最拘谨、最传统、最听话、最内向的人做出来的。
  而荣与将是这些人的典型。
  这样的夜晚，这样的好风，这样的衣着，还有我这样有经验知道如何散发xing的味道的身体，荣与将不
  会不入笼。
  果然，他低头，轻轻吻住我。
  我笑。
  又做了一件坏事，把一向乖乖遵从所有规则的荣大少爷给下深渊，我家老头必定以我为荣。
  荣与将的吻很温柔，没有太多的技巧，却很让人舒服。
  很真心的感觉。
  听到我发出的笑声，他问：“你笑什么？”此人真是纯情得可以，一个吻过后，声音居然满是温柔
  ，低沉得让人心醉。和平日那些即使上过床，第二天照样可以装出什么事都没有发生的人完全不一样。
  “你喜欢我吗？”我昂头问。
  他看看我，很认真的说：“喜欢。”
  我嗤笑：“你才认识我多久？一分钟就能喜欢上一个人。”
  “是一秒。”他说：“你进荣家的时候，我一看见你，就想一直盯着你看。只是有点不好意思。”
  我噗嗤一声笑出来，想不到这木讷的人居然这么会讲情话。
  干脆就在漆黑的路边，躺在车上脱了自己身上的睡袍。
  “摸我。”
  他问：“摸哪里？”
  他的心在扑通扑通直跳，口干舌燥。
  “这里。”我抓着他的手，放在我的下身。
  他象被蛇咬了一口，急忙缩回去。
  我抿着唇直笑。
  “吻我。”
  他很听话，伏下身小心翼翼地凑上我的唇。
  “真的喜欢我？”
  “对。”
  “有多喜欢？”
  “不知道。”
  我喜欢赤着身子勾在他身上。荣与将很强壮，我摩挲他的背肌，把手伸到他的睡袍里面。
  “喜欢我这样摸你吗？”
  “喜欢。”他象个小学生，有问必答，而且简单明了，绝对不骗人。
  我知道自己的魅力已经散发出来，又多一个西装裤下的臣子。
  估计着时间，花点心思，大约平均每晚上可以摆平一个。
  “与将，叫我的名字。”
  “生生……”
  “再叫。”
  “生生，生生，生生………”
  我在夜下笑得如杨贵妃再世。
  不声不响回到荣家。
  第二天早起的时候，下楼就见到正在吃早餐的荣家父子。
  “早啊，荣世伯，与将，与亭。”
  荣世伯面前摆着一碗白粥，对我说：“早，生生。本来要叫仆人请你下楼吃早餐，与将说你长途飞行
  应该好好睡一睡，所以没有去吵你。”
  我若有若无地给与将一记眼神，看见他拘谨地低头看着自己的早餐，不由好笑，扬起嘴角说：“与将
  好细心，谢谢你，我才能睡个好觉。”
  荣与亭插话道：“不错，大哥就是细心。生生，你今天有什么计划，我为你派司机。”
  “不必了，爸爸说我既然到了香港，应该少点玩多跟荣世伯学习。我看还是跟你们回荣氏去看看吧。”我低头扬着唇角笑，不让荣与亭看出眼中的轻蔑。
  已经晚了，荣与亭。你一向比不过你的大哥这回捷足先登。			
  
		</string>
				<key>chapterSrcs</key>
				<string></string>
				<key>chapterTitle</key>
				<string>第三章</string>
				<key>href</key>
				<string></string>
			</dict>
			<dict>
				<key>chapterContent</key>
				<string>
			  我偷偷瞅温文的荣与将一眼，心里忽然觉得很甜，诱人无数，好象还不曾有这样的感觉。
  不对，捷足先登的应该是我才对。我暗笑。
  吃完早餐，和荣氏父子一起到公司去。我当着众人的面指定要坐荣与将的车。
  “最喜欢这款车，坐起来舒服又稳当。”
  一心要送我的荣与亭脸色难看，强笑着为我开了荣与将的车门。
  荣与将坐在驾驶位上，哭笑不得。
  “怎么，怕我漏口风？”我问。
  “没想到你这么大胆，就不怕他们乱猜。”果然，一晚过后，乖乖儿子的虚伪就冒上来了。
  我哼：“越躲躲闪闪越有人怀疑，你这人一点都不知道策略。”
  “是是，我不懂。”
  正在驾车的男人微微一笑，望向我的眼睛满载温柔。
  这样坐在他的身边，竟然会有快乐的感觉。
  我茫然摸摸头，对荣与将说：“你知道吗？你很有人的天赋。”
  “哦？”
  “因为你一看我，我就心跳。”
  这话半真半假，但他却似乎信个十足。英俊的脸忽然红润许多，欣喜地望了我一眼。
  一阵脸红心跳，不由想象他和我欢爱时会是什么滋味。
  这个呆子，昨晚那么好的时机，他居然咬牙忍着没有碰我。
  我知道他心里挣扎得厉害，又感动于他对我的尊敬——虽然这样的尊敬我并不需要。身着睡袍的两人
  没有解决问题就回到各自的房间，分别前几个炽热的吻只让情况更坏。
  结果我辗转不安地憋了一个晚上，将可爱但是保守的荣与将骂个上万遍。
  正人君子，真是第一次碰到。
  到了公司，堂而皇之进了荣与将的办公室。
  简单的摆设，办公桌上堆得高高的文件。
  我左顾右盼，不用两秒就知道那荣与亭将所有粗重工夫扔给他老实的大哥。走上去翻翻桌上的文件，
  分得整整齐齐，已批示过的上面有荣与将的工整的笔迹。
  这人其实不笨，工作也很细心。
  “爸爸的办公室在上面一层，与亭的办公室在旁边。”与将关上门，对我一笑。
  “是不是想提醒我不要在这里轻举妄动？”我故意半眯着眼睛瞅他。
  与将笑得腼腆，过来站在我身边。
  我知道他想亲近亲近我，偏偏又没那个贼胆，叹了一声，抓起他的手环在自己腰上。
  被引导的手立即紧紧贴上我的腰，黏得似乎永远也不打算松开。
  “与亭总是欺负你吗？”
  “他是弟弟嘛，做大哥的不能不让。”
  我嗤笑：“迟早被他吞了你，你才认得这个弟弟。”
  他温文尔雅的脸还是老样子，垂头朝我脖子吹一口气：“不要这样说与亭，生在豪门，这也是没有办
  法。”
  我忽然想起故事中那个即将被狼吃掉却还在可怜狼饿肚子的和尚。
  傻瓜……
  不敢相信我会对一个傻瓜有好感。
  足足一日，我呆在与将的办公室中看他忙忙碌碌。
  他的秘书和他一样命苦，抱着文件来来回回象被人不断抽转的陀螺。
  另一边的荣与亭没有动静，不过我想绝对不是和与将一样在努力工作。
  “爸爸叫我们上去开个小会，你来吗？”
  习惯让他留在我的目光下，最讨厌开会的我居然点点头。
  “当然去，我也算未来的股东啊。”
  牵着与将的手，出门就遇到从另一头出来的荣与亭。
  望见我们两人的手，荣与亭脸上微微变色。这家伙，恐怕习惯事事胜过他大哥，对于不能勾引我到手
  大为恼怒。
  一同进了荣世伯的总裁室。
  荣世伯开门见山：“这次政府招城建商的标书，你们看了没有？”
  “我已经看过，刚刚和下面的工程师开完会。”荣与亭争着开口。
  我望望与将，他才在电话里把所有情况了解清楚，应该对这个也很有把握。
  谁料他说：“这事情交给与亭挺好，他对城建的事情也很熟。”
  建筑工程是大生意，为何明明能在荣世伯面前争光都不开口。
  我悄悄地狠狠捏他一下。怪不得你老被人欺负！
  与将默默受我一捏。
  转头看到荣与亭威风的样子，顿时觉得他更形态可恶。			
  
		</string>
				<key>chapterSrcs</key>
				<string></string>
				<key>chapterTitle</key>
				<string>第四章</string>
				<key>href</key>
				<string></string>
			</dict>
			<dict>
				<key>chapterContent</key>
				<string>
			  一场小会下来，完全是听荣与亭吹嘘自己的计划。
  我翻了数次白眼，总算坚持下来。
  回到与将的办公室，我劈头就问：“为什么你不开口？你对这个不在行吗？”他桌面这么多细致的
  公文批示，样样都表示他有这样的工作能力。
  他说：“生生，你不明白。”
  “好啊，那你说，我哪里不明白。”
  他轻道：“我是收养的。我不是爸爸的亲生儿子，只有与亭是。”
  我愣住。
  豪门中总有这许多秘密藏在里面，其中肯定还有许多枝枝节节掩在深处。
  但他这样沉稳的个xing忽然对认识不过一两天的我说出这秘密，就有点让我接受不了。
  “这件事情，连与亭都不知道。”与将苦笑：“他一心把我当成他的对手，根本不知道我不会和他
  争。”
  “那为什么告诉我？”
  他笑：“我不想你为我不平。”
  不错，我确实为他不平。
  公司里的事情都是他做，风光却都是荣与亭的。
  如此说来，这荣家大少爷也许将来连荣家一分钱的身家都分不到。
  看他那老黄牛一般逆来顺受的模样，我更加不平起来。
  “为什么不争？”我咬唇：“养子也有继承权。”
  他微微一顿，不赞成地看着我。
  这等愚忠，自古就是同一个可悲的下场。
  有我在他身边，自然不能让与将落得如此凄凉的地步。我将自己当成辅助沦落人的英雄，暗暗握拳。
  我做过心理测试说我属于冲动型的人，我想确实是的。
  不过为了这么可爱又温驯的与将，冲动一次又何妨，说不定这计划对我家也有益处。
  不要说我势利，生在这样的环境，你不能不考虑到这个。
  大计敲定，我要开始做开国功臣——荣与将的开国功臣。
  既然要做功臣，当然需要先安排人马后援。
  当晚，打电话给我家老头。
  “爸，荣氏内部斗争，你看结果如何？”
  “哪里有什么斗争，荣与亭已经高高在上。”
  “未必，我要帮荣与将。”
  “哦？为何？”
  这个老头，天下只有利益可以说得动他。我说：“荣与亭奸诈，荣与将忠厚。你是股东，难道不想董
  事长好相处一点？”
  至于忠厚的人容易控制这浅显的话，就不必说出口了。
  “荣氏是豪门世家，你以为你能左右？”
  “你暂时观看，不过需要用到股东特权时，爸你可要帮我。”
  老头在电话那边不吭声，我知道他已经被说动。
  说不定吞并荣氏的计划，已经刷刷刷写成文书，握在他手里。
  谈完电话，我仰躺在床上。
  瞬间豪情万丈，知道有一件大事要做。
  将已经把荣氏握在手的荣与亭踢开，让荣与将这个养子继承大统。
  莫名其妙地，真的想帮助与将。
  难道已经爱上此人？
  我摇头，生平还没有试过这么快爱上一个人，这不可能。
  腰间暖暖的，我想起与将早上在办公室内搂着我的腰好一会。
  算了为了我们黄家的未来吧，毕竟有很多投资都在荣氏这里。让与将做主，总好过将来和荣与亭打交
  道。
  为自己找个借口，终于安然入睡。
  半梦半醒中，忽然眼前有少许动静。
  我赫然惊醒。
  一看，居然是与将坐在床头，隐隐觉得有点惊喜。
  “是你。”我拍拍吓得蹦跳出口的心脏。
  他说：“是我。”低头看我，微微一笑：“我睡不着，想起也许你又要水喝，就过来看看你。”
  “我的房门可是锁着的，你半夜三更撬门进来看客人渴不渴？”
  他讪讪道：“我有钥匙。”
  我忽然觉得他实在帅气，喜欢人的心理又开始作祟，对他风情万种地一笑：“原来早准备了钥匙
  ，随时可以对荣家的客人偷香窃玉。”干脆抬起一腿搭在他肩上，看他手足无措的样子。			
  
		</string>
				<key>chapterSrcs</key>
				<string></string>
				<key>chapterTitle</key>
				<string>第五章</string>
				<key>href</key>
				<string></string>
			</dict>
			<dict>
				<key>chapterContent</key>
				<string>
			  与将望我的眼睛象要把我吃下肚子里，举止却依然守礼。他抓住我的脚，轻轻放回床上，还扯了薄被
  盖住：“小心着凉，荣家的空调开得特别大。”
  “我不冷。”故意让白皙精致的脚踝又外露出来，在他眼下摇来摇去。
  他无奈地摇头，抓住我的脚踝又塞进被里。
  “与将，你是真的喜欢我？”这个问题好象已经问过，不过再问一遍又何妨。
  “喜欢，真的。”
  我发现自己爱上他的声音。
  “我想和你一起工作。”
  “好，你的身份，完全可以参与荣氏的行政会议。”
  “我想你陪我到处逛逛。”
  “等我手头的工作完了，就好好陪你。”
  谈了大半个小时，我打着哈欠眯上眼睛。
  与将站起来，轻轻吻我的额。
  我连眼睛都懒得睁，一把扯住他睡袍的前襟，将嘴凑到他唇边。
  带着与将气息的吻，蔓延到口腔里。
  温柔又缓慢，象细细的溪流漫过长着绿苔的岩石。
  “睡吧。”他低声在我耳边说。
  我沉沉睡去。
  _
  醒来的时候听见鸟叫。
  人人都说香港是个水泥钢筋城市，真正的花鸟虫鱼已经绝迹。
  但荣家的大屋在半山上，环境优美地方开阔，兼有专业园丁仆人看顾，有鸟也不希奇。
  人生百态，其实钱是最重要的，连能不能听见鸟叫也关系到财力。
  不知道为什么，今早只听了几声鸟叫，就想起这么多势利的东西来。
  我连连摇头，从床上爬起来。
  在箱子里挑了件白色西装，成心让餐桌旁等候的与将惊一惊艳。
  想象他看见我时腼腆又忍耐的样子，对着镜子笑了出来。
  镜中人身材高佻，眉清目秀，从头到脚没有一个地方不露出世家翩翩公子的气派。
  荣与将，你实在是好福气，连我也开始羡慕你。
  自恋一番，下楼去也。
  香港的豪门世家似乎家规都甚严，生活习惯一丝不苟。荣家父子果然已经集合在餐桌旁。
  “荣世伯，早啊。”我朗声与荣世伯打招呼，眼睛却直往与将瞄去，故意在楼梯上稍停片刻，让他看
  清楚我今天的出色打扮。
  三人同时抬头，将目光集中在我处。
  “生生，今日打扮得这么出色，不会约了女朋友吧？”最早开口的是荣与亭，他看我的模样如在看一
  件希世奇珍，可惜给我的感觉只有毛骨悚然。
  只有与将如许和蔼温文，点头道：“过来吃东西吧，你在外国养成的习惯其实不好，早餐应该按时吃。”
  看不到他张大嘴手足无措的反应，不禁有点失望，脸上的笑容打个八折，走过来拉开椅子坐下。
  “生生，你爸爸昨晚和我联系，说希望我为你在荣氏安排一个职位，让你历练一下，熟悉熟悉商务运
  作。我想，你还年轻，暂时和与将、与亭一样，处理对外业务，你看怎么样？”
  老头子果然行动敏捷，这么快就为我开了金口。
  我谦虚道：“荣世伯，我什么都不懂。荣氏是大企业，怎么能让我胡乱进去？这样吧，我先跟着与将
  ，做他的助理，学到多少算多少。”
  荣世伯碍于情面给我一个职位，心里想来正头疼又来了一个托人情进来的蛀虫。
  听我这么一说，当即放下心来，嘴上却说：“不行，与将哪里能和你比。”夸我两句，急忙转了话
  题，以免我反悔。			
  
		</string>
				<key>chapterSrcs</key>
				<string></string>
				<key>chapterTitle</key>
				<string>第六章</string>
				<key>href</key>
				<string></string>
			</dict>
			<dict>
				<key>chapterContent</key>
				<string>
			  与将转头看我一眼，似乎在说你又捣鬼。
  我忙着在他父亲面前装正经，目不斜视吃早餐。
  本来敲定了可以名正言顺跟在与将身边，这顿早餐应该吃得不错。
  可惜我选错了位置，坐在荣与亭对面。整个早餐过程中，他屡次抬头盯着我，眼里幽幽发光，害得我
  几次差点把豆浆勺到白粥里。
  这家伙不是好人。
  吃过早餐，大家齐齐回公司，我自然又是坐在与将车上。
  一上车，与将不忙发动汽车，侧身对我微笑：“你今天好漂亮，我差点吓得掉下凳子。”
  听他一句奉承，当即忘记早上那一点点小小的不愉快。
  我哼一声，抿着唇笑。
  “生生，我想吻你。”
  “那你怎么不吻？”
  他居然老老实实地问：“你肯不肯？”
  为什么让我碰上这等克星？
  我悲叹一声，发脾气道：“不肯！”将脸别到另一个方向。
  他难过地沉默半晌，似乎想不通我为什么发脾气。扶扶鼻梁上的黑框眼睛，发动汽车。
  气鼓鼓地等车开进荣氏地下停车场，摔开与将的手进了电梯。
  他一路小心翼翼跟着，惟恐我一时生气，头脑不清自己撞在电梯门上。
  在空荡荡的电梯中两人相对，我瞪着他越看越生气。
  不明白为什么会为这么件芝麻小事发火，但如果他以后都这么无趣，老实得象头牛，古板得象我曾祖
  爷爷，那我以后跟着他可怎么过日子？
  天，为什么居然想到“过日子”这可笑的字眼？
  梯门打开，我怒气冲冲而出。
  刚向右转，一个高大的物体赫然跳进眼中。
  “小心！”
  “啊……”
  刹步不急，撞得额头好疼。
  该死的！我没有撞上电梯门，却撞上搬运途中的文件柜。
  这该死的柜子要搬到哪里去？
  “生生，你怎么样？要叫医生吗？”与将抢到我面前，探着我的额头问。
  搬运柜子的员工吓得一个劲地道歉：“对不起，对不起，是我不小心…….”
  搞了半天，原来是为我这个新助理而搬的柜子。
  只有苦笑。
  站起来重新板着脸，依然对与将不瞅不睬，让他在身后跟着。
  进到他的办公室，他一把抓我的手腕。
  “生生……”又苦恼又无奈地叫我的名字：“你到底在生什么气？”
  我不想说。
  这气生得实在莫名其妙，连我自己也觉得说不过去。
  所以我黑着脸。
  他温柔的脸此刻尽是担忧，叹着气放开我背过身去。
  一看不见他的脸，我忽然心里一凉，正要大发雷霆引他注意。
  他霍然转过身来，一把将我紧紧搂住。
  我这才知道他的力气有多大。
  满怀满脸都是他特有的味道。
  被他吻住的时候，赫然发现此人并非我想象中的纯情。
  如果可以将我生生少爷吻得呼吸不畅，至少也有过不少情人吧？
  来不及为这些吃醋，我已经掉到与将的深渊里。
  一吻过后，与将的秘书及时出现。
  抱着一大堆文件，让我联想起毕业设计时山一样高的参考书籍。			
  
		</string>
				<key>chapterSrcs</key>
				<string></string>
				<key>chapterTitle</key>
				<string>第七章</string>
				<key>href</key>
				<string></string>
			</dict>
			<dict>
				<key>chapterContent</key>
				<string>
			  与将坐下，抽出文件来看，对他秘书道：“洁儿，黄先生今天开始是我的特别助理，你为他准备一下
  必要的工作设备。”
  那秘书虽然名字叫“洁儿”，却已经是个半老徐娘。标准一点说来连徐娘也算不上，她那毫无风姿，
  一看就是拼命干活一生没有提升的职业型装扮，也许是与将这种老黄牛男人的最爱。
  洁儿答应一声，朝我礼貌地点头。
  与将又说：“洁儿，黄先生虽然名义上是我的助理，但他是荣家世交，只是暂时过来学习一下，你通
  知下面的员工对他要有礼貌。”
  我瞧他一本正经的脸，心里微甜，不禁飞他一个媚眼。
  这个人啊，把我看得跟他一样好脾xing，惟恐人家将我欺负了去。
  说了做助理，也不能什么事都不干。
  我便也靠在沙发上，把与将批过的公文细细看一遍。
  这么多的文件，他批得很快，又常常在上面加注指示。我本来想这样紧张的工作必有错漏，为他检查。
  没想到越看到后面越发佩服，居然找不出一点不对的地方。
  有的时候看不明白他的批示，他还会停下为我讲解，从工地地形、土质结构到政府高层中的关系，为
  何要采取这样的策略，一丝不苟清清楚楚。
  “荣氏以前做的行政大楼工程，为什么会采用非光滑型外墙？”
  “当年为这问题我找了很多专家，光滑型外墙虽然流行，但是建筑的外墙必须和这建筑本身的条件、
  形态相适应，写了很多方案，最终才决定采用非光滑型。”与将头也不抬，把答案告诉我。
  我心不在焉地点头：“哦。”
  当年荣氏凭这大楼设计夺得建筑大奖，成为香港第一的承建商，上电视领风光的却是与亭。
  好不公平。
  这荣氏今日的成就，到底有几分是靠与将赚来？
  我望这人如陷在公文包围中奋战一样，不禁有点心疼。站起来走到他身边。
  明知道办公室中空调温度正好，绝不会出汗，还是伸手摸摸他的额头。
  又温文又驯孝，我对那张英俊的脸越看越爱。
  他放下笔，猛然将我的手反抓在掌中，轻问：“怎么了？看你似乎不高兴。”
  我无谓地一笑，顺势坐在他腿上。
  “不要这样，洁儿随时会进来。”
  “你啊……”我主动献吻，心里想着怎么为他对付荣与亭，将荣氏夺到手上。
  谁为荣氏滴汗，谁就应该得到荣氏。
  于是，立定心思，将我所有的精力，放在辅助与将上。			
  
		</string>
				<key>chapterSrcs</key>
				<string></string>
				<key>chapterTitle</key>
				<string>第八章</string>
				<key>href</key>
				<string></string>
			</dict>
			<dict>
				<key>chapterContent</key>
				<string>
			  再娇纵不羁，总算我也是大商家出身，全力而出，立即在几次荣氏的会议上为与将连连立功。
  其实他早立了功劳，只是从来做好了让别人领功。
  我就不同，抢功劳是我的强项，连荣与亭也不是我的对手。
  与将说：“生生，你这样不好，害与亭下不了台，何必和他争？”
  我瞪着眼睛，一百二十分的恨铁不成钢：“荣与将，你样样都好，就是心太善良。身在商场，别说兄
  弟，父子夫妻也没有情面，你要快快学会才好，否则以后不堪设想。”接着灌输他一大堆人不为己，
  天诛地灭的理论。
  甚至列举大量身边残忍现实的例子，狠不得他立即变得奸诈无比，狠毒无双。
  与将笑着摇头：“生生，你好会说话，一个小时不停动嘴，难道不口渴？下次开会，我的报告请你一
  同去讲就好了。”
  我几乎气得晕倒。
  天地良心，我黄生一辈子从未这么为过别人。
  对与将，真怕是上辈子欠下的孽债。
  一连几次没让荣与亭如愿以偿地夺了功劳去，又使与将在外界中露了大脸。
  甚至看见媒介中报道——《荣氏大公子屡创商界奇迹，荣氏归属又有新论》，就登在经济版的头版
  头条。
  与将出席上流酒会，也不断有人上前攀谈。
  不惜与荣与亭翻脸，捧起与将，也算有所报答。
  荣与亭对我的态度越来越不对劲，望着我的眼神一时恨不得将我矬骨扬灰，一时又意十足。
  对着他吃饭只能如坐针毡，我索xing逼着与将经常早出晚归，尽量不在荣家吃饭。
  和与将细水长流般的卿卿我我，他还经常不声不响半夜过来坐在我床头看我，有时候我醒了，就和他
  聊天亲吻，有时候没醒，就这么过去了。
  一日醒来，喉咙发疼，头也开始疼。
  与将来唤我，见我一脸苦相躺在床上动来动去，，忙过来问：“怎么了？生生，生病了？”
  “好难受……”我故意气若游丝。
  “不要怕，我立即打电话把医生请来。”
  正肚子里笑得好玩，忽然想起正经事：“今天和英国瑞塔公司签约，你还不快去。”
  “你病了，我怎么能扔下你不管？”
  天啊，这人真痴。
  现在又不是什么文艺连续剧，我最多不过是晚上踢开被子被空调冻得感冒，还能如何？
  这个合约花费他无数心血，可以为荣氏将来五年带来可观利益，怎么可以不去？
  若让荣与亭得了这个机会，在合约上签上他的名字，岂不笑歪他的嘴？
  “快点去！千万不要迟到。哎呀，你不要管我！婆婆妈妈，真讨厌。”将他乱拳轰走，自己提起电话
  ，叫来医生。			
  
		</string>
				<key>chapterSrcs</key>
				<string></string>
				<key>chapterTitle</key>
				<string>第九章</string>
				<key>href</key>
				<string></string>
			</dict>
			<dict>
				<key>chapterContent</key>
				<string>
			  荣氏的家庭医生效率很高，半个小时内开着跑车到达，听了我的病情，叫我探出舌头来看看，笑道：
  “生少爷不要担心，小感冒，其实还可以提高免疫力。”
  这医生说话风趣，为我开了药。又很热心地为我做了个小小的全身检查，才提着药箱离开。
  我才站起来准备挑选今日的衣服，电话响起。
  猜想应该是与将，果然是他。
  “生生，医生来了吗？他怎么说？”
  “小感冒，当提高免疫力。”
  “你肯定踢被子了。你就是这个毛病，我昨晚明明看着你，帮你盖好被子的，怎么我一离开你又踢…
  …”
  “好了好了！合约到底签了没有？”
  “签好了，我正赶回公司，下午台湾那边有人来。”
  “知道了，我吃点东西就过去。”
  放下电话，钻进洗手间。
  换好衣服出来，我愕然一愣。
  房中多了一人，居然是最不想看见的荣与亭。
  这样的时候，他不是应该呆在公司吗？
  真讨厌，好死不死胆敢坐在我的床边。
  _
  此刻窗外早已大白，夏天的阳光自然耀眼。
  我被他盯着，却忽然冷飕飕，不由暗骂荣家空调开得太大。
  “与亭，你怎么不去公司？”我站在洗手间门边问他。
  香港怎么样也算法治社会，不会光天白日下上演什么犯罪过程吧？
  有点不确定，说不定我碰上一百万分之一的偶然。
  与亭冷笑：“难得大哥把你留在家里，这好机会怎么能不利用一下？”
  危机更甚，我只恨洗手间离房门太远，不能一步跨过。
  “说得好象见我一面多难似的，我不就住在你家？”
  “可惜你天天躲着我。我真不明白，为什么你处处和我作对。我也没有哪里得罪你。”与亭站起来，
  缓缓走到我面前：“你和大哥上床了？”
  不知道为什么，他今天穿着运动服。
  我已经换上笔挺的黑色西装。
  如果动手，光是这碍事的衣服就会让我吃上一点亏，行动不方便嘛。
  “大哥在床上哄得你很舒服？”他问这下流问题，还装出一副风liu的样子。
  我笑道：“从没有听过弟弟怎么谈论大哥的，亏你还被杂志评为十大年轻绅士。”
  与将对我尊敬非常，到现在还不曾提出要求。不过这不需要告诉与亭这种人。
  他抬手碰我的下巴：“我也能让你很舒服。”
  我象被蛇咬到，举手格开，再一推把他用力推倒。
  “你小心一点，这可是你家。”我大喝，巴不得引来荣家仆人。
  与亭邪邪地笑：“我们家的仆人最懂事，从来不管主人家的私事，你就算叫破嗓子也没有用。”
  不禁暗恨荣家将大屋起在绿树环绕的半山中，连上来的路也是属于荣家的私人路。
  与亭跨前一步，居然想将我的双手抓住后扭。
  我真是大怒，出生以来没有受过这样的侮辱。
  贞洁事小，脸面事大。
  如果让别人知道生少爷被别人强迫，以后有何面目见人？			
  
		</string>
				<key>chapterSrcs</key>
				<string></string>
				<key>chapterTitle</key>
				<string>第十章</string>
				<key>href</key>
				<string></string>
			</dict>
			<dict>
				<key>chapterContent</key>
				<string>
			  “荣与亭，你疯了么？”我大叫，双手被压在背后，只好把头左右摇晃逃避他的强吻。
  “生生，你真不愧是圈中名人，天生会人。”他口里说着狗屁不如的赞美，急色地将舌头伸进来。
  我狠狠咬他一口，他居然毫不介意，继续用带血的舌头玷污我的唇。
  “荣与亭，你疯了么？”
  猛然一声大喝，响彻整个荣家半山。
  不过大喝的不是我，另有其人。
  眼眶几乎裂开的荣世伯，震惊地站在房门处。
  “爸爸？”荣与亭吓了一跳，几乎是从我的身上弹开去。
  谢天谢地！我暗中松一口大气。连忙爬起来看好戏。
  荣与亭镇定下来，心虚地问：“爸爸不是在公司吗？怎么……”
  一个猛烈的巴掌将他的话打飞。
  我心中叫好，想不到荣世伯手劲还不错。
  被打的荣与亭象霜打的茄子，摸着脸不敢作声。
  荣世伯气得呼呼喘气，脸色青紫。
  我巴望他立即把这不孝子赶出荣家，顺便立下遗嘱让与将继承所有财产。
  “生生，你…你还好吧？”
  我声名在外，似乎荣世伯也有所听闻。他虽然关切地问我，神色却隐隐带点怀疑。想来是在猜测与亭
  也许是被我这个败类给的。
  我黑着脸，装出孟姜女哭长城的悲壮，却又不哭，沉声道：“荣世伯，这件事情不要再提，我爸爸以
  后还要做人。我现在立即收拾行李回法国。”转身就打开衣柜。
  他儿子做下这等事情，怎敢让我回家？不怕我扑到爸爸面前哭诉？这等丢脸的事情泄露出去，只怕荣
  氏股票立即大跌。
  他立即拦住我：“生生，这事我一定要给你个交代，不要收拾，有话好讲。”他一转身，又给呆站
  在旁边的荣与亭一巴掌，喝道：“还不给我滚出去？”
  荣与亭狠狠看我一眼，冲了出去。
  哈哈，这种事有什么好交代的？难道还要荣与亭负责不成，不过他扇荣与亭那几巴掌，倒让我高兴不
  少。
  可惜与将不在，没有亲眼看到。
  被荣家家长好言安慰半天。
  荣世伯又许诺众多在荣氏的特权，又为荣与亭的卤莽举止做了种种解释，又举出此事泄露的种种弊端
  ，荣家和黄家的日后将来。
  我终于点头，答应不将此事泄露出去，就当荣与亭失恋，酒后犯傻。这借口总比他儿子清醒的时候按
  着个男人要强。
  其实我本来就没打算离开，与将还在，怎么忍心把他扔在与亭这人皮畜生处？
  当晚与将回来，我把此事当笑话告诉他听。
  他吓得变了脸色，惊道：“与亭居然做出这样的事？”
  我傲然道：“有什么奇怪？难道我的魅力就只有你一人看到？哼。”
  他将我紧搂在怀里：“我一定要好好照顾你，再不让你出这样的事情，不能让你单独呆在家里。”
  笑话，我也绝对不会单独呆在这里，尤其是与将不在的时候。
  荣与亭临走前怨恨的眼光，我还记得清楚。
  有仇必报，我也是这样的人。			
  
		</string>
				<key>chapterSrcs</key>
				<string></string>
				<key>chapterTitle</key>
				<string>第十一章</string>
				<key>href</key>
				<string></string>
			</dict>
			<dict>
				<key>chapterContent</key>
				<string>
			  接下来几天，与亭象失踪一样，绝不与我碰面，开会的时候低着头。
  我不知道他是羞愧，还是继续隐藏祸心，不过兵来将挡，倒也不怕他如何。
  与将最近大出风头，大少爷的威望立即上升不少。
  只有荣世伯似乎不大高兴，对这忽然一下冒出头的大儿子脸色不善。其实也不奇怪，养子在公司比亲
  子厉害，怎么能不开始担心百年后的事情。
  中国人，讲的是骨肉至亲，血浓于水。
  不是亲生的，就不是亲生。哪怕收养那个比亲生的好一万倍也好。
  与亭颓废半月，终于做了一件让荣世伯高兴的事情，中了上次政府承建工程的大标。
  其实个中有与将不少功劳，只是不能多说。
  荣世伯为此在荣氏会议上大大表扬与亭，简直是故意表扬给与将看。
  与将坐在与亭身边，对与亭微微一笑，如沐春风般的眼光，却没有让与亭产生好感。
  与将，为什么你那么温和善良，你知道吗？他们都是豺狼，剥夺你的智慧、压榨你的劳力，又不会给
  你任何的报酬。
  我为与将不平，他处于一场不公平的比赛中。
  赛中的裁判——他的父亲，只会因为他的出众而对他嗔意更重。
  晚上醒来，又见与将坐在床头。
  金马玉堂，似乎已经是人生享受的极限，其实感觉还不如他这么轻轻柔柔的一坐。
  我说：“你脸色不好，是不是太累？何必，为荣氏不要命的苦干，只是委屈了自己。”
  “我这人从不委屈自己。看，你不就对我很好？”
  我把手从薄被中伸出，抓住与将的手。很久，还没有试过和一个男人保持着这样纯洁又深厚的感情。
  几乎有点感动。
  “与将，我们是战友，对吗？”
  “生生，不要为我做太多，我会禁不起。”
  我笑：“傻瓜，我最喜欢你犯傻的样子。荣家这样的地方怎么会养出你这么忠厚的黄牛？”
  “我如果不是这样的人，怎么能熬到现在？爸爸又怎么肯让我进荣氏帮忙？世上的事情相辅相成，各
  人有各人的缘分。象与亭，他就是幸运的。可惜不争气……”与将微微叹气，似乎还为这处处与他作
  对的弟弟可惜。
  我听出玄机，轻问：“与亭怎么了？”
  “与亭在公司的帐上做手脚，吞了差不多两三个亿。我又拿不出这笔钱来帮他填上，唉…我也不知
  道该怎么办。消息如果传出去，荣氏的股票真不敢想象。”
  “与亭真大胆。”我坐起来，搂着皱起眉头还在傻乎乎为与亭烦恼的与将：“算了吧，自己做的事
  情自己承担，你愁也没有用。”
  他点点头：“又坐起来干什么，刚刚才感冒好点，小心又着凉，明知道我家空调开得大。”
  他把我扶躺下，又为我盖好被子。
  “与将……”看见他要走，我忽然舍不得。
  这么多天了，他还没有碰我，偶尔的亲吻，实在让我欲火烧得难受。
  “什么事？生生。”他伏下来吻我的唇。
  我这一辈子，还没有开口求过别人上我的床，今天又怎肯破例？
  我咬咬牙：“没事。”
  “那好，晚安。”
  在我额头留了数个轻轻的吻，与将才离去。我看见他仔细的检查了门锁，想来是防止与亭半夜进来闹
  事。			
  
		</string>
				<key>chapterSrcs</key>
				<string></string>
				<key>chapterTitle</key>
				<string>第十二章</string>
				<key>href</key>
				<string></string>
			</dict>
			<dict>
				<key>chapterContent</key>
				<string>
			  等与将出去，我爬起来，把电话拿在手上。
  “爸爸，是我。明天请其他的董事出面查一查荣氏的帐好不好？我知道你也是董事，可是我不希望黄
  家出面。对……….要找个信任的人，就算发现问题也可以私下解决的。我知道…….不用担
  心………”
  放下电话，我惬意地躺回床。
  我知道与将必定会很不高兴，如果他知道是我做的，也许还会和我大吵。
  不过，我是为了他。
  我真的是为了他。
  昨天第四章
  爸爸的效率真的没有话说，第二天一到公司，就瞄见贵宾室中那不算陌生的身影。
  果然是荣氏另一位董事，也算得上我另一位世伯。
  我担心与将发现事情，只当根本不知道这件事情，和与将一同回到办公室。
  刚埋在文件中一会，桌面的电话响了。
  我有点紧张。
  与将根本不知道即将发生何事，随意地拿起电话。
  “喂，我是荣与将。”
  听了一会，与将脸色大变，猛然站起来，把手中的笔放下。
  “什么？…….好，我上来。”
  他匆匆挂了电话，望向早装出一副无辜的我。
  我担忧地问：“发生什么事情，你这么紧张？股市有变吗？”所谓担忧，自然也是装出来的。
  他居然还企图隐瞒，安慰我道：“没有事，好象有董事在爸爸的办公室里，想叫我和与亭过去谈谈。”
  他啄木鸟一样轻吻我一下，急忙到荣世伯的办公室去了。
  我隔着百叶窗，看见与亭气急败坏地从办公室中出来，匆匆赶到电梯口，应该会正巧和与将碰上。
  哈哈，心头大快。
  与亭，你碰上我，也算倒霉。
  我可不是与将，那么善良温和。
  乖乖等了半晌，与将脸色苍白地回到办公室。
  我迎上去问：“到底出了什么事情？”
  “贺世伯忽然来说要查帐……….”
  “啊？那与亭那里…….”
  与将摇头，颓然说：“我已回护不了，有什么办法。这个大哥真不好当，与亭看我的样子，就象是我
  要把他逼到绝路一样。”
  我暗中笑他妇人之仁，搂着他的腰安慰道：“算了，幸亏是荣氏的董事，又是贺世伯，就算查出来，
  消息也不会泄露。只要荣氏稳当，与亭还有什么好埋怨的？”
  “与亭到底是我弟弟……”
  我语带双关的说：“与将，人生在世，怎么能不为自己，自己强大了，才可以保护所爱的人。在拥有
  一切之前，做任何事情都是可以原谅的。”
  与将其实精明厉害，我生怕他看出我暗中搞鬼，小心翼翼安抚半天，又奉上香吻无数，总算过了这一
  天。
  三日后，荣氏行政会议上，荣与亭的职位被撤，一切董事长儿子的特权取消。
  表面上说是因为工作失误，其实大家心里都明白是为了什么。
  荣家花了两个多亿，咬牙把这漏洞填上，保全荣与亭的后路。
  荣世伯以与亭还在处理政府承建工程为名，让与亭好不容易保住在荣氏的一席之位。
  开会回来，与将对我轻怜浅爱。
  我笑问：“怎么心情这么好？”
  “与亭的事终于告一段落，总算可以放心。只要他好好做下去，爸爸很快会把他重新提升的。”
  我冷哼：“哪有这么容易？”
  这个一片好心的大哥居然还为与亭打如意算盘：“政府那件大工程如果成功，算为荣氏将功抵罪。我
  再去求求爸爸，不就成了？”
  天！荣世伯恨不得将你的职位立即换给与亭，何需你去求情。
  留你在此，不过是为了利用和掩人耳目罢了。
  多少叱咤风云、金马玉堂后，都是不堪入目的你虞我诈、忘恩负义。			
  
		</string>
				<key>chapterSrcs</key>
				<string></string>
				<key>chapterTitle</key>
				<string>第十三章</string>
				<key>href</key>
				<string></string>
			</dict>
			<dict>
				<key>chapterContent</key>
				<string>
			  我说：“与将，何必将荣氏的养育之恩看得比天还重，做人洒脱一点，才能得到快乐。”
  “生生，荣氏对我的养育之恩，和你对我的感情一样，都是我最珍惜的东西。”
  我暗暗吐舌，如果他知道是我通知爸爸找人查帐，不知道会如何反应。
  此事万万不可让与将知道。
  “希望与亭那件工程快点出点成绩。”
  我不甚真心的附和：“对啊，希望他争气一点。”
  当夜，我打电话，拨通我那有本事干爹的号码。
  “干爹，你不会睡了吧？英国现在不是白天吗？”
  “我？我很好，我在香港。干爹，有件事情要求你哦。”
  “关于香港政府的一个投标工程…….对……那个承建商………”
  放下电话，我又甜甜睡去。
  梦见与将潇洒英俊站在众人面前，绝对的不可一世。
  看着荣与亭在荣氏中顿成无权之辈，样样决定必定要与将先行签名，心里真是快意。
  荣氏中人不知道荣家内幕，只道这大权必定不会落在不争气的二少爷手上，少不了开始有点眉高眼低
  ，处处将与将的吩咐摆在与亭的前面。
  与亭恨得牙痒，有几次见到我和与将，神情几乎可以用狰狞形容。
  可是没过几天，他居然平和下来，见了与将竟然还可以笑着打招呼：“大哥，怎么这么早。我这里有
  点文件，需要你的签名。”恭恭敬敬将文件送到与将面前，耐心等与将签名。
  与将自然是非常高兴，他对这弟弟的溺爱简直让我无法忍受。
  但更让我担忧的是与亭的态度变化。
  这只有一种可能，就是荣世伯已经将与将的身世告诉与亭。并且与亭得到某种保证，与将绝对没有占
  据他继承人地位的机会。
  我忽然有点泄气，就算不断挑拨，让荣世伯知道与亭有多坏，与将有多好，他都不会选择与亭继承荣
  氏。
  我的与将，对荣氏、对荣家忠心耿耿的与将，难道真的会等到荣世伯百年过后一无所有。
  以与亭的个xing，他怎么会容忍比自己能干的大哥？即使这大哥永远不会和他争，永远只会为他着想。
  不行！绝对不同意！
  我为这事伤透脑筋，瘦了一圈。与将心疼得很，搂着我问：“生生，你到底哪里不舒服？你在烦恼什
  么？”简直把我当成弱不禁风的女人，真拿他没有办法。
  干爹的干预很有用，我听说与亭的政府工程做得一团糟，董事会纷纷提出抗议，要荣世伯大义灭亲，
  将与亭开除去荣氏。
  倒霉的与亭，政府中人做事，往往比商界人更龌龊，让你吃了苦头说不出一个字。
  谁叫你和我的与将斗？
  谁叫你欺负与将？
  此工程的不顺利，导致荣氏股票大幅波动，与将手忙脚乱一气，才稳定下来。			
  
		</string>
				<key>chapterSrcs</key>
				<string></string>
				<key>chapterTitle</key>
				<string>第十四章</string>
				<key>href</key>
				<string></string>
			</dict>
			<dict>
				<key>chapterContent</key>
				<string>
			  看他那么辛苦，我自然也有点不安。加意温柔体贴，又拼命为他分忧解愁。
  说到分忧解愁，当然是用我自己的方法。
  黄生的交际网，黄生的调情手段，有哪个能象与将一般克制得住？
  这个圈中，哪个不是名人？
  合约、内幕消息，种种人家花尽了工夫得不到的，我只需一个眼神，再加几个半真半加的吻，半推半
  就的情爱。
  所有的一切，在与将惊讶地听着我告诉他的好消息时，那种诧异又激动的表情中得到回报。
  我发现我真的爱上了他。
  天啊，警告过自己，同xing圈中只能玩耍，为什么真的爱上一个男人？
  虽然和很多人上过不少次床，但还是很憧憬和与将的第一次。
  我将这意思告诉与将，他居然羞得脸色发红。
  荣家当然不是好地方，我特意挑了个黄道吉日，订下一个不著名但是雅致的酒店。
  在与将的办公桌上留下时间、地址，偷笑着自己先去了。
  坐在浴缸里，好心情地哼歌，我还准备了最喜欢的香水。
  希望与将喜欢这味道。
  穿着故意敞开半边的睡袍出来，顿时吓得一愣。
  上次是在荣家，这次是在酒店。
  与亭如鬼魅一般，再次坐在我的床边。
  “你来干嘛？”我急忙拉好敞开的睡袍，咬着牙问。
  让我害怕的是房中不仅与亭一人，还有几个恶形恶状的男人站在一旁。
  真是该死，为了使今夜彻底完美，居然租了最高的一层单独套间。
  因为想到与将脸皮薄，还是在试了隔音设备后才满意地租下来的。			
  
		</string>
				<key>chapterSrcs</key>
				<string></string>
				<key>chapterTitle</key>
				<string>第十五章</string>
				<key>href</key>
				<string></string>
			</dict>
			<dict>
				<key>chapterContent</key>
				<string>
			  “我来干嘛？”与亭尖刻地反问。
  他拍拍我亲自整理的床铺，冷笑着问：“你以为我来这里干嘛？当然是尝尝你这个妖精的味道。”
  他咬牙切齿向我走来。
  我惊得一缩，急忙寻找可以保护自己的武器。
  天啊，与将你在哪里？
  将手中的湿毛巾用力扔在与亭脸上，暂时挡住他的视线，我拔腿就跑。
  旁边有那几个流氓似的大汉，我当然不会蠢得往门口跑。
  只希望可以逃进浴室关上门，争取一点时间报警。
  可是，天不从我愿。
  被抓起扔到软绵绵的床上时，我唯有苦笑。
  今天原来不是黄道吉日，写那本通胜的家伙真应该抓去打靶。
  “贱人！”与亭居高临下狠狠给我一巴掌，把我打得滚到一边，又立即被他扯了回来。
  “你以为我不知道你干的那些事？”
  “你以为我不知道与将天天溜到你的房间里？”
  “你以为我不知道谁害我？”
  “自从你来了，我就没有舒服过一天！”
  “你这个下贱的男妓！”
  他一掌一掌打在脸上。
  我的脸已经肿了，满口鲜血，满眼金星。
  与亭面目狰狞，扯开我的睡袍。
  “与将有什么好？不就陪你上了床？我的功夫也不错。”他掰开我的双腿，向我压下来：“我也能
  让你欲生欲死。”
  他太粗暴，简直把我撕成两半。
  下身痛得几乎麻木。
  我吼叫着挣扎，却引来那几个可怕的旁观者。
  “不！与亭，你这样……”我有十万句威胁他的话，可惜没有能力说出口。
  我的嘴被另一张嘴堵住，很多手在身上到处乱摸。
  下身前后都是不断的刺痛。
  所有的一切都是粗暴的。
  茫然中，感觉与亭离开我的内部。
  另一个陌生的人立即取代他的位置，捅了进来。
  我耳朵嗡嗡作响，听不见他们的交谈。
  我知道他们在。
  这样的话，为了不被告发，与亭一定会杀人灭口。
  他会把与将当成替罪羊吗？
  我毫无生气、破烂不堪的身体猛然一震。
  天！我写了纸条给与将，如果与将在我被杀后赶到，那……
  “不……不……”我狂乱地摇头，企图踢开身上的男人。
  一阵撕心裂肺的痛楚传来。
  我不知道他们对我做了什么，也许已经给了我结束的一刀。
  与将，我善良温厚的与将……….
  我眼前一黑，闭上了眼睛。			
  
		</string>
				<key>chapterSrcs</key>
				<string></string>
				<key>chapterTitle</key>
				<string>第十六章</string>
				<key>href</key>
				<string></string>
			</dict>
			<dict>
				<key>chapterContent</key>
				<string>
			  “生生……生生…….”
  与将的声音把我唤醒。
  我睁开眼睛，也同时唤醒了自己所有的伤口。
  “疼…….”干涸的喉咙好象烧着一般的疼，我吐出一个字，深深皱眉。
  天使一样的温柔俊脸向我贴过来。
  我的手被与将轻轻握着。
  “生生，你醒了？”他激动得几乎说不出话，再次开始手足无措。
  即使疼得要命，我还是想笑，结果扯动脸上的伤，立即闷哼一声。
  “怎么，你疼是不是？一定很疼。是我不好，我应该早点回办公室。是我的错，与亭把你给我的纸条
  夹在文件里，我很晚才看见。都是我，让你吃了这么多的苦……….”与将不断的道歉，我不知道一
  个人心里能藏这么多的愧疚。
  “与将…”我勉强说出话来：“你好疼，你吻吻我吧。”
  他急忙凑上来，小心的吻我。
  其实我的嘴角必定肿得丑陋无比，他只是在小心地轻轻舔着。
  我闭上眼睛，安心睡去。
  原来上帝真的存在。
  与亭要破开我胸膛的时候，与亭终于赶到。
  而且，他不是独自赶到。洁儿告诉他与亭曾经进过办公室，然后急匆匆离开。
  于是，与亭带着一群荣氏的保安赶到。
  发现被的我，已经奄奄一息。
  荣世伯也赶到现场，他将被与将制住的与亭往死里打，却又恳求与将放与亭一条生路。
  知情的都是荣氏中人，确实可以瞒得住。
  天下太多事情，被金钱掩盖得无影无踪。
  与将不肯，但又无法面对荣家的养育之恩。
  他要等我醒来，由我决定。
  “那么说，与亭的将来，握在我的手里？”
  与将点头。
  我问：“与将，你希望我怎么做？你想我饶了与亭吗？”
  与将想了很久，咬牙道：“他这样对我，我真想亲手把他的肉一刀一刀割下来。可是……可是…….”他温顺的脸上又出现不忍心的神色。
  我叹气。
  我说：“好吧，让我来决定。”			
  
		</string>
				<key>chapterSrcs</key>
				<string></string>
				<key>chapterTitle</key>
				<string>第十七章</string>
				<key>href</key>
				<string></string>
			</dict>
			<dict>
				<key>chapterContent</key>
				<string>
			  荣世伯将消息锁得好紧，我家老头一直以为我过得很好。
  今日精神稍好，我将荣世伯请来。
  “荣世伯，请坐。”我靠在床边指指沙发。
  他长叹一声，露出老态，坐了下来。
  我摸摸自己的额头。
  “荣世伯，我这道伤，医生说永远都会留下疤痕。”我淡淡道：“与亭用两片刀片中间夹了火柴往
  我脸上划，连世界最顶尖的整容专家也没办法补救。他存心将我毁容再分尸。”
  荣世伯紧张得满头汗，那是他唯一的亲子，怎能不乱了方寸。
  我也是有钱人家的少爷，断不会被他收买。
  告到法庭，与亭这辈子就完了。
  荣家再多的钱，也没有办法。两个豪门之间的法律竞争是平等的，何况这次人证物证都有。
  “生生，是与亭的错，我愿意赔偿一切损失……”
  “荣世伯，你认为可以怎么赔？”我冷冷道：“你认为什么样的赔偿可以让我当这件事情没有发生？”
  他词穷。
  与亭这样的罪行，一生都要在牢里过。荣家有钱，又有什么用。与亭这样的公子哥儿，一进监狱就算
  完了。
  看他伤心绝望的模样，我知道时机已到。
  “我可以当没有任何事情发生，只要荣氏不属于与亭。”老头子教过，任何事都是可以利用的。伤已
  经受了，苦头也吃了，与亭坐牢，最多有点心里舒服，怎比真正的利益来得让人高兴？
  荣世伯惊讶地抬头。
  我说：“签署声明，荣世伯手中所有荣氏股份立即转给长子荣与将，我就当自己逛街遇到流氓，醒过
  来发现脸上多了道伤，一切和与亭无关。”
  荣世伯沉默。
  这份声明一签，荣家的所有就要尽归养子与将，与亭就会只剩少得可怜的房产和些许存款。
  我安静地看着窗外。
  他必定会接受，他没有选择。
  失去荣氏，总比失去一生要好。如果他爱惜唯一的亲子，就必须签。
  安心地休养几日。
  我躺在床上静静看房中的电视。
  “荣氏董事长荣秉，于今日发表声明，将其名下所有荣氏股票全数转让长子荣与将。荣秉声称，这次
  转让早在筹划之中，是为了让荣氏集团的决策层年轻化而做准备，一切法律问题也已经……….”
  我微笑，摸摸额头丑陋的伤痕。
  门推开，与将走了进来，坐在我的床边。
  “爸爸把所有的股份转了给我，与亭什么也没得到。”
  “我知道，电视里报道了。”
  我轻轻地回答，昂起头，让他的吻落在额上。
  那道伤疤，我知道与将永远不会嫌弃。
  他是那么温柔善良，那么爱我。			
  
		</string>
				<key>chapterSrcs</key>
				<string></string>
				<key>chapterTitle</key>
				<string>第十八章</string>
				<key>href</key>
				<string></string>
			</dict>
			<dict>
				<key>chapterContent</key>
				<string>
			  当各位亲看到这的时候泪落不得不小小的声明一下:本文的一切都很复杂,很复杂,绝不是表面看的那么简单,泪落最初就是看的太简单了,才觉得这文很无聊,事实证明泪落错了这一章和下一章,有个人的真实面目就要显露了~纠结的爱情阿.
  ____________
  我身上的伤渐渐好了，除了额上的疤。
  模样变难看了，倒也不在意。反正也不打算再在圈子里他人，叱咤风云，何必为外表伤心。何况
  ，把头发留长一点，遮住也不是不可以。
  我长得不壮，五官算可以，有道伤疤也不算可怕狰狞。
  如此安慰几番，再无怨言，把额上的伤扔到一边。
  荣世伯告老退休，远远搬到台湾的别墅去。
  与亭离开荣家，走得不知去向。
  荣家已经属于与将。
  属于我的与将。
  一想到这个，我就不禁高兴。
  不过短短数月，发生这么多的事情，想起当日外界漠视与将，说什么荣家长子比不上二子，真真可笑。
  现在与将天天都接许多邀请函，封封显示上流社会跟红顶白的恶劣习惯。
  我打电话给爸爸，告诉他我遇到一件小事故。
  “小事故你会特意的打电话给我？生生，如果遇到事情，你不要瞒我。”老头的担忧让我有点感动，
  毕竟，被真是需要人安慰的遭遇。
  “没什么，就是额头上画了道口子。”
  “什么？你的脸吗？其他地方呢？有没有受伤？……”
  感动归感动，老头罗嗦起来真麻烦，哄了半天，好不容易才劝他不要立即飞来香港。
  挂上电话，想着与将现在不知道正在干什么。
  手往床头柜伸，打算打个电话去问问与将，没想到一个不留意，反而把电话扫到地上。
  怎么这么不小心？
  我摇头。
  小心地慢慢下床，把电话捡起来。
  幸亏现在已经是与将当家，弄坏了东西也不必不好意思。
  话筒已经摔成几块，这么高的床头柜，不知道是不是也出自与将的设计。
  闲来无事，摆弄这可怜的话筒，一个小零件骨碌骨碌掉到我手上。
  这是什么？
  我拿起来研究。
  看了半天，居然想起一样常在电视里出现的东西——器。
  我对侦探片特别喜爱，也常在家中摆弄这些。豪门中的少爷，哪个没有点特殊的爱好？
  我举着这个，越看越象。
  终于确定这是个器。
  不会吧？
  首先想到可恶的与亭，难道我和与将每夜的甜蜜话，都被他偷听去了？
  变态！
  但回头一想，又觉得不对。
  如果与亭可以听见我的电话，那我和爸爸、干爹的联系，他怎么可能不知道，而被我攻个措手不及？
  荣家已无他人。
  我忽然想到一个可能xing，惊出一身冷汗。
  不，不可能！我独自在房中连连摇头。
  紧紧捏着器，我挣扎着下床跑出房间。
  我想扑到与将怀里，听他低沉的声音，那么我再也不会害怕。
  此刻，我真的很怕。
  一生之中不曾如此害怕。
  昨天第六章
  匆忙用长外套包裹了里面的睡袍，我迈着急促的步子穿过荣氏公司的大堂。
  生怕有人认出我苍白的脸，一直低头看着地上。
  与将，我想你抱着我，我想你安慰我。
  我好害怕。
  与将的办公室已经换了，他已经是荣氏的董事长，自然用了荣世伯以前最大最高的那个董事长室。
  我出了电梯，向门外办公桌上的小助理略略点头，装出一个笑脸：“不要通知董事长，我想给他一个
  惊喜。”
  不知道为什么说出这句话，我自己也有点心惊。
  难道我对与将也不信任？
  小女孩露出了然的微笑，指了指拐角处的门。
  进了拐角的门，是洁儿的办公处，再往里的门，才是与将的董事长室。
  洁儿不在，也许是进去和与将讨事去了。
  我刚想推门进去，却莫名其妙地停住。
  愣了片刻，低头望望手中的器，象幽灵附体一样，完全不知道自己想做什么，居然轻轻扭动董事
  长室的门锁，将门打开一条小缝。
  与将的声音，传了出来。
  “与亭那边的事情，已经处理好了？”
  洁儿答道：“是，都办妥了。”
  “黄家的股份呢？”
  我听到“黄家”，立即竖起耳朵。
  “也办妥了。”
  与将沉默一会，似乎在签什么文件。
  我站在门外，心跳得厉害。
  我不应该怀疑与将的，他是那么的好，他是我第一个如此爱上的人。
  我现在就象被魔鬼一样，选择是否要在心理上背叛他。我应该立即打开门扑到他怀里，而不是继
  续站在门口怀着的心希望再探听到一些可以证实我怀疑的话。
  我咬咬牙，决定选择信任。
  还没有抬腿，与将的声音又响起。			
  
		</string>
				<key>chapterSrcs</key>
				<string></string>
				<key>chapterTitle</key>
				<string>第十九章</string>
				<key>href</key>
				<string></string>
			</dict>
			<dict>
				<key>chapterContent</key>
				<string>
			  “生生很快就会搬到我房中，他那的东西撤掉吧，免得留下手脚。”
  仿佛一个雷直接劈在头上，闪电钻进耳中。
  我瞬间握着门把，动弹不得。
  一切都是摇晃的，有片刻我以为地震了。
  洁儿说：“恭喜董事长，总算把事情解决了。”
  “这些事情，还是不要让生生知道的好。他太单纯。”
  我听了很久，但耳中嗡嗡作响，许多东西都没有听进耳中。
  就象被的时候一样。
  茫然又迷乱，嗓子干得几乎粘在一起。
  魂不附体站了半天，肩膀被人拍了几下，我勉强清醒过来。
  站在面前的高大身影，是与将。
  “生生，你在这里站了多久？”与将微笑着问，神态与平日无异。
  我颤动嘴唇，想说谎，可是沙哑的嗓子说不出话。
  他的目光下移，停在我的手上。
  我想把手中捏着的器藏在身后，却发现自己根本没有移动身体任何一部分的力气，似乎虚脱了。
  与将伸手，将我手中的器取了过去。
  对着器望一望，接着就把它随便地扔到废纸篓中。
  “生生，你进来。”
  他拖着已经开始软绵绵的我，把我带进董事长室。
  我的脸色必定很难看。
  与将倒了一杯温水，送到我手中。
  我拿了就拼命往嘴里灌，又呛住，连连急促地咳嗽。
  “慢慢喝，不要急。”与将坐过来，往我背上轻拍。
  抚在背上的大手，忽然让我恐惧，生怕与将会忽然翻脸，将我活活掐死。
  我苍白着脸，连忙躲到沙发的另一端，警惕地看着他。
  与将轻笑：“我以为你早就应该察觉，就不明白为什么你对我这么迟钝。”
  不错，我是迟钝。
  不对别人，只对与将。
  “没有什么要问我吗？”他慷慨大方地说，似乎随时准备提供所有答案。
  我摇头。
  何必，我虽然蠢，到了现在把事情联系起来，哪一样不清清楚楚？对付与亭的所有开端，都是与将漏
  给我的消息。
  他每夜在另一个地方偷听我的电话，看我这笨蛋是否按他的计划行事。
  我以为自己捧起荣氏的新星，原来不过是被玩弄的木偶。
  不过，我还有事情想问。
  “那天晚上，你为什么在厨房？”
  与将说：“晚餐时，你的碗里抹了一种无害的化学品，会让人感觉口渴。”他笑起来：“其实荣家
  不大，你住在那里，要制造一个比较浪漫的会面，一点也不难。你总能避开与亭，当然是我在帮忙。”
  我忽然发现黑框眼睛一拿下，与将立即变了另一副样子，我几乎认不出来。
  这么自信，这么强大，而且这么可怕。
  那一晚我也看见他不戴眼睛的样子，为什么当时却会觉得xing感？
  “我感冒那天，与亭对我动手，是你通知荣世伯？”
  “不错，爸爸对与亭印象太好，其实破坏也不是容易的事情，要逐渐深入，慢慢腐蚀。”
  我冷笑。
  生生，你何其可笑，居然还百般教导此人奸诈、阴险之术。
  哪料他的修为，已经登峰造极，天下无出其右。
  我轻轻磨牙：“荣与将，你故意让与亭进你的办公室，看见我给你留的字条，是不是？”
  我问：“你故意等他们把事情闹得不可收拾，才扮成英雄赶来。”
  “生生，你很识大体，知道吃了亏该怎么讨回便宜。我们真的是好搭档。”他的表情还真是又温柔又
  体贴：“不把事情闹成这个样子，没有这个机会，爸爸怎么肯死心签转让声明？”
  哈哈哈！
  我甩手给他一个耳光，打得他的脸侧在一边。
  与将昂然受我一掌，用指尖抹去嘴角的血丝，轻道：“生生，以后不要这样做了。”
  他的话没有力度，却让我心寒。
  有生以来听过最精彩的威胁，当属此句。
  我说：“荣与将，你故意让我被。”
  与将说：“生生，害你的不是我，是与亭。”
  我呆若木鸡望着熟悉的脸，忽然软倒在沙发上。
  与将，我愿意为你而死，只求你不要让我如此绝望。
  与将要扶起我，我攥起拳头，沙哑着喊：“走开！不要碰我！”
  “生生，你伤还没好，不要激动。”
  我冷冷看着他，象落入陷阱的人看着头顶上的野兽。
  我站起来，摇摇晃晃迈开脚步。
  “生生，你要去哪？”
  我转身，鄙夷地回答：“我已经没有利用价值，荣氏也已经到手。当然是功成身退，难道等着狡兔死
  ，走狗烹？”
  挺直腰杆，一步一步缓慢朝门走去。
  我以为与将会拉一拉我，因为愧疚也好，因为阴谋暴露而恼羞成怒也好。
  虽然知道即使他现在立即跪在我面前痛哭，我也不会原谅他。
  但他眼睁睁，毫无反应、冷静地看着我离开，心里的难受又深一层。
  不错，我已经没有利用价值。
  一切都是假的。
  他常常半夜溜进我的房间，不过是在玩弄计谋，说不定还顺便检查一下电话中的器。
  想起这样一个可怕的人在床头，我居然安心入睡，毫无防备，自以为安全到了极点，真了让人不寒而
  栗。
  黄生，天下最愚最蠢的，原来是你。
  我跌跌撞撞回了荣家，将所有的衣服胡乱塞在箱子里，惟恐多留一刻，提着箱子就跑。
  荣家的仆人奇怪地为我开门，问：“生少爷，要不要安排司机送你？”
  我黑着脸摇头。
  “要不要打电话给大少爷？”
  我听到她提起与将，眼前一阵发花，匆匆离开，将荣家华丽的花园远远抛在身后。			
  
		</string>
				<key>chapterSrcs</key>
				<string></string>
				<key>chapterTitle</key>
				<string>第二十章</string>
				<key>href</key>
				<string></string>
			</dict>
			<dict>
				<key>chapterContent</key>
				<string></string>
				<key>chapterSrcs</key>
				<string></string>
				<key>chapterTitle</key>
				<string></string>
				<key>href</key>
				<string></string>
			</dict>
		</array>
	</array>
	<key>cover</key>
	<string>no_cover.png</string>
	<key>isbn</key>
	<string></string>
	<key>order</key>
	<string>-999</string>
	<key>partTitleArr</key>
	<array>
		<string>章节列表</string>
	</array>
	<key>src</key>
	<string>default.png</string>
	<key>status</key>
	<string>已完成</string>
	<key>title</key>
	<string>昨天(风弄)</string>
</dict>
</plist>
